/*	ELEMENTOS	*/
body{
	margin: 0em;
}

header{
	background-image: url('../SunSet.jpeg');
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 2em 2em 2em;
	height: 6em;
	width: 100%;
	text-align: center;
	color: white;
}
main{
	background-image: url('../Back4.jpg');
	/*
	*/
	background-color: green;
	background-attachment: fixed;
	display:block
}
footer{
	background-color: black
}

section{
	min-height: 25em;
	display: flex;
	padding: 5em;
	flex-wrap: wrap;
}
div{
	text-align: center;
}

label{
	font-size: .7em;
	text-align: justify;
	margin-top: .25em;
}

h1{
	font-size: 5em;
}

p{
	margin: 0;
	text-align: justify;
}

textarea{
	display: grid;
	height: auto;
	width: auto;
	border-radius: .5em;
}

input{
	height: 12em;
	width: 100%;
	border-radius: 1em;
	box-shadow: inset 0 0 .5em rgba(0, 0, 0, .6);
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*	 CLASSES	*/

.perfil_CLASS{
	display: grid;
	grid-template-columns:20em 20em ;
	height: 25em;
	width: 40em;
	background-color: white;
	box-shadow: .4em .4em .5em rgba(0,0,0,0.3);
}

.divImg_CLASS{
	background-color: green;
	max-height: 100%;
	max-width: 100%;
}

.descri_CLASS{
	background-image: url('../Back1.jpg');
	background-attachment: fixed;
	max-height: 24em;
	max-width: 100%;
	display: grid;
	grid-column: 50% 50%;
	grid-template-rows: 10% 9% 66% 15%;
	padding: .5em;
	text-align: justify;
}

.descPerf_CLASS{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	display: flex;
	padding: .5em;
	text-align: justify;
}

.contPerf_ClASS{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	display: none;
	flex-direction: column;
	padding: .5em;
	text-align: justify;
	align-items: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
}

.divContPerf_CLASS{
	display: flex;
	flex-direction: column;
	text-align: justify;
	align-items: flex-start;
	margin: .05em;
}

.msgPerf_CLASS{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	display: none;
	padding: .5em;
	text-align: justify;
	box-shadow: 0 0 .2em rgba(0, 0, 0, .6);
	margin: .5em;
}

.expDiv_CLASS{
	display: none;
	box-shadow: inset 0 0 .5em rgba(0, 0, 0, .6);
	grid-auto-flow: column;
	min-width: 35em;
	width: 53%;
	margin: 2em 0 0 2em;
	text-align: justify;
	overflow-x: scroll;
}

.divExpPerf_CLASS{
	display: flex;
	width: 17em;
	flex-direction: column;
	text-align: justify;
	align-items: flex-start;
	margin: .25em;
}

.labelExpClass{
	font-size: .9em;
	text-align: justify;
	margin: .5em;
}

.pExp_CLASS{
	margin: 0 .5em .5em .5em;
	text-align: justify;
}

.divFiltro_CLASS{
	display: grid;
	height: 100%;
	background-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: .1em;
	border-radius: .5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}

.pFiltro_CLASS{
	grid-column: 1/3;
	grid-row: 1/2;
	text-align: center;
}

.btnFiltro_CLASS{
	grid-row: 2/3;
}

.acessoLink_CLASS{
	margin: 0 1em 0 .5em;
	font-size: 1.2em;
}

/*	   ID's		*/

h1#titulo_ID{
	grid-column: 1/2;
	grid-row: 1/4;
	margin: 0;
}

div#acesso_ID{
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	flex-flow: row-reverse;
}

div#filtros_ID{
	grid-column: 2/3;
	grid-row: 2/4;
	display: grid;
	grid-template-columns: 33% 33% 33% 1%;
}